<!doctype html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css">
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    {{ghost_head}}
  </head>
  <body class="site {{body_class}}">
    <header></header>
    <main class="site-wrapper">
      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}
    </main>
    <footer class="site-footer outer">
      <div class="site-footer-content inner">
        <div class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</div>
      </div>
    </footer>
    {{{block "scripts"}}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
    addEventListener('load', function(){
      var code = document.querySelectorAll('pre code');
      code.forEach(function(block) {
        hljs.highlightBlock(block);
      });
    });
    </script>
    {{ghost_foot}}
  </body>
</html>
